@model SantaMarta.Data.Models.AssetsLiabilities.AssetsLiabilities

@{
    Layout = null;
    ViewBag.Title = "Create";
}
@Styles.Render("~/AdminPacket/plugins/datepicker/css")
@Styles.Render("~/AdminPacket/plugins/icheck/css")

@*modal*@
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Nuevo Movimiento</h4>
</div>

<div class="modal-body">

    @using (Ajax.BeginForm("Create", "AssetsLiabilities", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = Url.Action("Create", "AssetsLiabilities"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModalCreate",
        InsertionMode = InsertionMode.Replace
    },
                                                                 new { @class = "form-horizontal", role = "form", id = "frmCrear" }))
    {

        @Html.AntiForgeryToken()
        //textbox
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box-body">
            @Html.TextBoxFor(model => model.CurrentDate, new { @class = "form-control", id = "datepicker", placeholder = "Fecha: MM/DD/YYYY" })
            @Html.ValidationMessageFor(model => model.CurrentDate, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Nº Documento" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Nombre" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            <br>
            <p>Tipo de Transferencia</p>
            @Html.RadioButtonFor(model => model.Type, true) Ingreso
            <br>
            @Html.RadioButtonFor(model => model.Type, false) Gasto
            <br>
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.Rode, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Monto" } })
            @Html.ValidationMessageFor(model => model.Rode, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Descripcion" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            <br>
            @Html.DropDownList("account", ViewData["accounts"] as List<SelectListItem>, "Seleccionar Cuenta", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdAccount, "", new { @class = "text-danger" })
            <br>
            @Html.DropDownList("category", ViewData["categories"] as List<SelectListItem>, "Selecionar Categoria", htmlAttributes: new { @class = "form-control" })
            <br>
            @Html.DropDownList("subCategory", new SelectList(string.Empty, "IDSubCategory", "Name"), "Selecionar Sub-Categoria", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdSubCategory, "", new { @class = "text-danger" })
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <input id="btnCreate" type="submit" value="Guardar" class="btn btn-success" />
        </div>
    }
</div>

@Scripts.Render("~/AdminPacket/plugins/datepicker/js")
@Scripts.Render("~/AdminPacket/plugins/icheck/js")

<script type="text/javascript">
    $(document).ready(function () {
        $("#category").change(function () {
            $("#subCategory").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSubCategories")',
                dataType: 'json',
                data: { id: $("#category").val() },
                success: function (subCategories) {
                    $.each(subCategories, function (i, value) {
                        $("#subCategory").append('<option value ="' + value.Value + '">' + value.Text  + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve subCategories.' + ex);
                }
            });
            return false;
        })
    });
</script>

<script>
    $(document).ready(function () {
        $('input').iCheck({
            radioClass: 'iradio_flat'
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('input').iCheck({
            radioClass: 'iradio_flat-green'
        });
    });
</script>