@model SantaMarta.Data.Models.Products.Products

@{
    Layout = null;
    ViewBag.Title = "Create";
}

<script src="~/Scripts/Mark/jquery.mask.min.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" id="myModalLabel">Nuevo Producto</h3>
</div>

<div class="modal-body">
    @using (Ajax.BeginForm("Create", "ProductsSM", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = Url.Action("Create", "ProductsSM"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModalCreate",
        InsertionMode = InsertionMode.Replace
    },
                                                new { @class = "form-horizontal", role = "form", id = "frmCrear" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box-body">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Codigo", maxlength = "20" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Nombre", maxlength = "20" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Precio", id = "price" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Impuesto", id = "tax" } })
            @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Descripcion", maxlength = "70" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            <br>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <input id="btnCreate" type="submit" value="Guardar" class="btn btn-success" />
        </div>
    }
</div>

<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $('#price').mask('00000000.00', { reverse: true });
        $('#tax').mask('000.00', { reverse: true });
    });
</script>