@model IEnumerable<SantaMarta.Data.Models.Products.Products>
@{
    ViewBag.Title = "Productos Santa Marta";
}

@if (Session["users"] == null)
{
    Response.Redirect("~/Login/Index");
}

@section Menu {
    @Scripts.Render("~/scripts/Tables/Data/menu")
}
@Styles.Render("~/AdminPacket/plugins/datatables/css")
<link href="~/Scripts/Toastr/toastr.min.css" rel="stylesheet" />
<div class="box-header">
    <a class="btn btn-success btn-lg pull-right" data-target="#modal-crear" data-toggle="modal" href="/ProductsSM/Create">
        <span class="glyphicon glyphicon-plus"></span> Nuevo Producto
    </a>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Lista de Productos de Santa Marta</h3>
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>
                                @if (Session["Type"] != null)
                                {
                                    <a class="btn btn-primary glyphicon glyphicon-edit" data-target="#modal-editar" data-toggle="modal" href="@Url.Action("Edit", "ProductsSM", new { id = item.IDProduct })"></a>
                                    <a class="btn btn-danger glyphicon glyphicon-trash" data-target="#modal-editar" data-toggle="modal" href="@Url.Action("Delete", "ProductsSM", new { id = item.IDProduct })"></a>
                                }
                                <a class="btn btn-info glyphicon glyphicon-file" data-target="#modal-details" data-toggle="modal" href="@Url.Action("Details", "ProductsSM", new { id = item.IDProduct })"></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}
@*modal*@
<div class="modal fade" tabindex="-1" role="dialog" id="modal-crear" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="createModal">
        </div>
    </div>
</div>
@*modal 2*@
<div class="modal fade" tabindex="-1" role="dialog" id="modal-editar" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="editModal">
        </div>
    </div>
</div>
@*modal 3*@
<div class="modal fade" tabindex="-1" role="dialog" id="modal-delete" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
@*modal 4*@
<div class="modal fade" tabindex="-1" role="dialog" id="modal-details" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

@section Scripts {
    @Scripts.Render("~/AdminPacket/plugins/datatables/js")
    @Scripts.Render("~/scripts/Tables/Data")
    <script src="~/Scripts/Toastr/toastr.min.js"></script>

    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal').find(".modal-body").html('');
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ('@TempData["message"]' == "Add") {
            toastr.success('El usuario ha sido agregado correctamente', 'Agregado');
        } else if ('@TempData["message"]' == "Update"){
                toastr.success('El usuario ha sido modificado correctamente', 'Modificado');
        } else if ('@TempData["message"]' == "Delete"){
                toastr.success('El usuario ha sido eliminado correctamente', 'Eliminado');
        }
    });
    </script>
}

<script>
        function closeModalCreate(data) {
            if (data.success) {
                $('#modal-crear').modal('hide');
                window.location.href = "/ProductsSM/Index";
            } else {
                toastr.warning('No se ejecuto la operacion, hubo un error', 'Atencion');
                $('#createModal').html(data);
            }
        }
</script>

<script>
        function closeModalEdit(data) {
            if (data.success) {
                $('#modal-editar').modal('hide');
                window.location.href = "/ProductsSM/Index";
            } else {
                toastr.warning('No se ejecuto la operacion, hubo un error', 'Atencion');
                $('#editModal').html(data);
            }
        }
</script>

<script>
        function closeModalDelete(data) {
            if (data.success) {
                $('#modal-delete').modal('hide');
                window.location.href = "/ProductsSM/Index";
            } else {
                toastr.warning('No se ejecuto la operacion, hubo un error', 'Atencion');
            }
        }
</script>