@model SantaMarta.Data.Models.Persons.Persons
@{
    Layout = null;
    ViewBag.Title = "Create";
}
@*modal*@
<script src="~/Scripts/Mark/jquery.mask.min.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" id="myModalLabel">Nuevo Cliente</h3>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("Create", "Clients", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = Url.Action("Create", "Clients"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModalCreate",
        InsertionMode = InsertionMode.Replace
    },
               new { @class = "form-horizontal", role = "form", id = "frmCrear" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        //textbox
        <div class="box-body">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Codigo", id="code" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger", id = "codeValidation" })
            <br>
            @Html.EditorFor(model => model.Identification, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "identificacion", id= "identification" } })
            @Html.ValidationMessageFor(model => model.Identification, "", new { @class = "text-danger", id = "identificacionValidation" })
            <br>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Nombre" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Primer Apellido" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Segundo Apellido" } })
            @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
            <br>
            @Html.EditorFor(model => model.NameCompany, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Nombre del Negocio" } })
            @Html.ValidationMessageFor(model => model.NameCompany, "", new { @class = "text-danger" })
            <br>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                @Html.EditorFor(model => model.CellPhone, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Celular", id="cellPhone" } })
            </div>
            @Html.ValidationMessageFor(model => model.CellPhone, "", new { @class = "text-danger" })
            <br>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Telefono", id="phone" } })
            </div>
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            <br>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Correo" } })
            </div>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <br>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-safari"></i></span>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Direccion" } })
            </div>
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>@*botones*@
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <input id="btnCreate" type="submit" value="Guardar" class="btn btn-success" />
        </div>
    }
</div>

<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $('#cellPhone').mask('0000-0000');
        $('#phone').mask('0000-0000');
    });
</script>