<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminPacket/plugins/font-awesome/css")
    @Styles.Render("~/AdminPacket/plugins/ionicons/css")
    @Styles.Render("~/AdminPacket/bootstrap/css")
    @Styles.Render("~/AdminPacket/dist/css")
    <link href="~/AdminPacket/dist/css/skins/skin-green.min.css" rel="stylesheet" />

    @*HEAD*@
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        @*HEADER*@
        <header class="main-header">
            <a href=@Url.Action("Index", "Home") class="logo">
                <span class="logo-mini"><b>S</b>.M.</span>
                <span class="logo-lg"><b>Santa</b> Marta</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
                @*SALIR*@
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href=@Url.Action("Logout", "Login")>Salir <i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                @if (Session["users"] != null)
                {
                    if ((Boolean)Session["Type"] == true)
                    {
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown messages-menu">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-gears"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header" style="font-weight: bold;">Configuracion Administrador</li>
                                        <li>
                                            <ul class="menu">
                                                <li>
                                                    <a href=@Url.Action("Index", "Users")>
                                                        <div class="pull-left fa fa-users" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Usuarios</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index", "Categories")>
                                                        <div class="pull-left fa fa-folder-o" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Categorias</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index", "Accounts")>
                                                        <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Cuentas</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index", "Email")>
                                                        <div class="pull-left fa fa-at" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Correo</h4>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }

                    if ((Boolean)Session["Type"] == true)
                    {
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown messages-menu">
                                    <a href="#" data-toggle="dropdown">
                                        <i class="fa fa-database"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header" style="font-weight: bold;">Restauracion de Datos</li>
                                        <li>
                                            <ul class="menu">
                                                <li>
                                                    <a href=@Url.Action("Index2", "Clients")>
                                                        <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Restaurar Clientes</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index2", "Providers")>
                                                        <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Restaurar Proveedores</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index2", "Users")>
                                                        <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Restaurar Usuarios</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index2", "Accounts")>
                                                        <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Restaurar Cuentas</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index2", "Categories")>
                                                        <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Restaurar Categorias</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index2", "SubCategories")>
                                                        <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Restaurar Sub-Categorias</h4>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=@Url.Action("Index2", "Products")>
                                                        <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                        <h4>Restaurar Productos</h4>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning" id="Total"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header" id="totalN"></li>
                                    <li>
                                        <ul class="menu" id="notification"></ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
            </nav>
        </header>
        @*MENU*@
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    @if (Session["users"] != null)
                    {
                        if ((bool)Session["type"] == false)
                        {
                            <div class="pull-left image">
                                <img src="~/Img/admin.png" class="img-circle" alt="Usuario: ">
                            </div>
                        }
                        else
                        {
                            <div class="pull-left image">
                                <img src="~/Img/star.png" class="img-circle" alt="Usuario: ">
                            </div>
                        }
                        <div class="pull-left info" style="max-width:45px">
                            <p>@HttpContext.Current.Session["nameUser"].ToString()</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    }
                </div>
                <ul class="sidebar-menu">
                    @*SANTA MARTA*@
                    <li class="header">MENU</li>
                    @*HOME*@
                    <li>
                        <a href=@Url.Action("Index", "Home")>
                            <i class="fa fa-home"></i><span>Inicio</span>
                        </a>
                    </li>
                    @*MOVIMIENTOS*@
                    <li>
                        <a href=@Url.Action("Index", "AssetsLiabilities")>
                            <i class="fa fa-th"></i> <span>Movimientos</span>
                        </a>
                    </li>
                    @*CONTACTOS*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Contactos</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="sidebar-clientes"><a href="@Url.Action("Index", "Clients")"><i class="fa fa-circle-o"></i> Clientes</a></li>
                            <li id="sidebar-proveedores"><a href=@Url.Action("Index", "Providers")><i class="fa fa-circle-o"></i> Proveedores</a></li>
                        </ul>
                    </li>
                    @*VENTAS*@
                    <li>
                        <a href="@Url.Action("Index", "Sales")">
                            <i class="fa fa-caret-square-o-up"></i>
                            <span>Ventas</span>
                            <small id="salesN"></small>
                        </a>
                    </li>
                    @*COMPRAS*@
                    <li>
                        <a href=@Url.Action("Index", "Purchases")>
                            <i class="fa  fa-caret-square-o-down"></i>
                            <span>Compras</span>
                            <small id="purchasesN"></small>
                        </a>
                    </li>
                    @*PRODUCTOS*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i> <span>Productos</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="sidebar-productosSM"><a href=@Url.Action("Index", "ProductsSM")><i class="fa fa-circle-o"></i>Productos a Venta</a></li>
                            <li id="sidebar-productos"><a href=@Url.Action("Index", "Products")><i class="fa fa-circle-o"></i>Productos de Compra</a></li>
                        </ul>
                    </li>
                    @*Planilla*@
                    @*<li>
                            <a href="#">
                                <i class="fa fa-credit-card-alt"></i>
                                <span>Planillas</span>
                            </a>
                        </li>*@
                    @*Inventario*@
                    @*<li>
                            <a href="#">
                                <i class="fa fa-cubes"></i>
                                <span>Inventario</span>
                            </a>
                        </li>*@
                    @*Costos*@
                    @*<li>
                            <a href="#">
                                <i class="fa fa-balance-scale"></i>
                                <span>Costos</span>
                            </a>
                        </li>*@
                    @*CALENDARIO*@
                    @*<li>
                            <a href="@Url.Action("Index", "Calendar")">
                                <i class="fa fa-calendar"></i>
                                <span>Calendar</span>
                            </a>
                        </li>*@
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href=@Url.Action("Index", "Home")><i class="fa fa-home"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        @*FOOTER*@
        <footer class="main-footer"></footer>
        <aside class="control-sidebar control-sidebar-dark">
            <div class="tab-content">
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
    @*JS*@
    @Scripts.Render("~/AdminPacket/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminPacket/bootstrap/js")
    @Scripts.Render("~/AdminPacket/plugins/slimscroll/js")
    @Scripts.Render("~/AdminPacket/plugins/fastclick/js")
    @Scripts.Render("~/scripts/Shared/_Layout")
    @Scripts.Render("~/AdminPacket/dist/js")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            var saleTotal = 0;
            var purchaseTotal = 0;

                    $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetInvoicesExpired","Sales")',
                    dataType: 'json',
                    success: function (invoices) {
                        if (invoices.length > 0) {
                            $('#salesN').text(invoices.length);
                            $('#salesN').addClass('label pull-right bg-red');
                            temp = "<li><a href='@Url.Action("Index2", "Sales")'><i class='fa fa-warning text-yellow'></i> Facturas de venta vencidas: "+invoices.length+"</a></li>";
                            $("#notification").append(temp);
                        }
                        saleTotal = invoices.length;
                         $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetInvoicesExpired","Purchases")',
                    dataType: 'json',
                    success: function (invoices) {
                        if (invoices.length > 0) {
                            $('#purchasesN').text(invoices.length);
                            $('#purchasesN').addClass('label pull-right bg-red');
                            temp = "<li><a href='@Url.Action("Index2", "Purchases")'><i class='fa fa-warning text-yellow'></i> Facturas de compra vencidas: " + invoices.length + "</a></li>";
                            $("#notification").append(temp);
                        }
                        purchaseTotal = invoices.length;
                        var Total = saleTotal + purchaseTotal;
                        $('#Total').text(Total);
                        $('#totalN').text("Tiene " + Total + " notificaciones");
                },
                    error: function (ex) {
                    alert('Failed to retrieve product.' + ex);
                }
                    });
                },
                    error: function (ex) {
                    alert('Failed to retrieve product.' + ex);
                }
             });

            $('#Total').text(saleTotal);
            $('#totalN').text("Tiene " + saleTotal + " notificaciones");
    });
    </script>
</body>
</html>
