<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*CSS*@
    @Styles.Render("~/AdminPacket/plugins/font-awesome/css")
    @Styles.Render("~/AdminPacket/plugins/ionicons/css")
    @Styles.Render("~/AdminPacket/bootstrap/css")
    @Styles.Render("~/AdminPacket/dist/css")
    <link href="~/AdminPacket/dist/css/skins/skin-green.min.css" rel="stylesheet" />
    @*HEAD*@
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        @*HEADER*@
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>S</b>.M.</span>
                <span class="logo-lg"><b>Santa</b> Marta</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
                @*SALIR*@
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href=@Url.Action("Logout", "Login")>Salir <i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                @if (Session["Type"] != null)
                {
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown messages-menu">
                                <a href="#" data-toggle="dropdown">
                                    <i class="fa fa-gears"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header" style="font-weight: bold;">Configuracion Super Usuario</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                                <a href=@Url.Action("Index", "Users")>
                                                    <div class="pull-left fa fa-users" style="font-size:20px; color:dimgrey;"></div>
                                                    <h4>Usuarios</h4>
                                                </a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("Index", "Categories")>
                                                    <div class="pull-left fa fa-folder-o" style="font-size:20px; color:dimgrey;"></div>
                                                    <h4>Categorias</h4>
                                                </a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("Index", "Accounts")>
                                                    <div class="pull-left fa fa-credit-card" style="font-size:20px; color:dimgrey;"></div>
                                                    <h4>Cuentas</h4>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
            </nav>
        </header>
        @*MENU*@
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                </div>
                <ul class="sidebar-menu">
                    @*SANTA MARTA*@
                    <li class="header">MENU</li>
                    @*HOME*@
                    <li>
                        <a href=@Url.Action("Index", "Home")>
                            <i class="fa fa-home"></i><span>Home</span>
                        </a>
                    </li>
                    @*MOVIMIENTOS*@
                    <li>
                        <a href=@Url.Action("Index", "ActivosPasivos")>
                            <i class="fa fa-th"></i> <span>Movimientos</span>
                        </a>
                    </li>
                    @*CONTACTOS*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Contactos</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="sidebar-clientes"><a href="@Url.Action("Index", "Clients")"><i class="fa fa-circle-o"></i> Clientes</a></li>
                            <li id="sidebar-proveedores"><a href=@Url.Action("Index", "Providers")><i class="fa fa-circle-o"></i> Proveedores</a></li>
                        </ul>
                    </li>
                    @*VENTAS*@
                    <li>
                        <a href="@Url.Action("Index", "Ventas")">
                            <i class="fa fa-caret-square-o-up"></i>
                            <span>Ventas</span>
                        </a>
                    </li>
                    @*COMPRAS*@
                    <li>
                        <a href=@Url.Action("Index", "Compras")>
                            <i class="fa  fa-caret-square-o-down"></i>
                            <span>Compras</span>
                        </a>
                    </li>
                    @*PRODUCTOS*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i> <span>Productos</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="sidebar-productosSM"><a href=@Url.Action("Index", "ProductsSM")><i class="fa fa-circle-o"></i>Productos a Venta</a></li>
                            <li id="sidebar-productos"><a href=@Url.Action("Index", "Products")><i class="fa fa-circle-o"></i>Productos de Compra</a></li>
                        </ul>
                    </li>
                    @*Planilla*@
                    @*<li>
                            <a href="#">
                                <i class="fa fa-credit-card-alt"></i>
                                <span>Planillas</span>
                            </a>
                        </li>*@
                    @*Inventario*@
                    @*<li>
                            <a href="#">
                                <i class="fa fa-cubes"></i>
                                <span>Inventario</span>
                            </a>
                        </li>*@
                    @*Costos*@
                    @*<li>
                            <a href="#">
                                <i class="fa fa-balance-scale"></i>
                                <span>Costos</span>
                            </a>
                        </li>*@
                    @*CALENDARIO*@
                    @*<li>
                            <a href="@Url.Action("Index", "Calendar")">
                                <i class="fa fa-calendar"></i>
                                <span>Calendar</span>
                            </a>
                        </li>*@
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        @*FOOTER*@
        <footer class="main-footer"></footer>
        <aside class="control-sidebar control-sidebar-dark">
            <div class="tab-content">
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
    @*JS*@
    @Scripts.Render("~/AdminPacket/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminPacket/bootstrap/js")
    @Scripts.Render("~/AdminPacket/plugins/slimscroll/js")
    @Scripts.Render("~/AdminPacket/plugins/fastclick/js")
    @Scripts.Render("~/scripts/Shared/_Layout")
    @Scripts.Render("~/AdminPacket/dist/js")
    @RenderSection("scripts", required: false)
</body>
</html>